// Global variables
@background-grey: #F9FAF7;
@background-white: #FFFFFF;
@border: 1px solid #E2E2E2;
@font-color: #555555;
@cs-blue: #428bca;
@link-hover: #005580;

body {
    font-family: 'Open Sans',Helvetica,sans-serif !important;
    color: #555555;
    background-color: #f0f1f2;
}

.container {
    max-width: none !important;
    width: 1080px !important;
}

.container .navbar-header,
.container .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
}

.navbar-default {
    width: 100%;
    min-width: 1080px !important;
    position: absolute;
    max-height: 51px;
    background-color: #F9F9F9;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    margin-left: 0 !important;
}

.navbar-header {
    float: left;
}

.nav-control form {
    margin-left: 0;
}

.navbar-collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}

.navbar-toggle {
    display: none;
}

.navbar-brand,
.nav-brand {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.navbar-nav {
    float: left;
    margin: 0;
}
.navbar-nav > li {
    float: left;
}
.navbar-nav > li > a {
    padding-right: 0;
}

.navbar-nav.navbar-right {
    float: right;
}

/* Undo custom dropdowns */
.navbar .open .dropdown-menu {
    position: absolute;
    float: left;
    background-color: #fff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-width: 0 1px 1px;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #FFF;
}

.navbar .open .dropdown-menu > li > a {
    color: #333;
}

.navbar .open .dropdown-menu > li > a:hover,
.navbar .open .dropdown-menu > li > a:focus,
.navbar .open .dropdown-menu > .active > a,
.navbar .open .dropdown-menu > .active > a:hover,
.navbar .open .dropdown-menu > .active > a:focus {
    color: #fff !important;
    background-color: #428bca !important;
}

.navbar .open .dropdown-menu > .disabled > a,
.navbar .open .dropdown-menu > .disabled > a:hover,
.navbar .open .dropdown-menu > .disabled > a:focus {
    color: #999 !important;
    background-color: transparent !important;
}

[class*="icon-"],
a.navbar-brand {
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
}

a.navbar-brand {
    color: #555555;
    text-decoration: none;
}

[class*="icon-"]:hover,
a.navbar-brand:hover {
    color: @cs-blue;
}

.popover-title,
.popover,
input,
.modal,
.btn,
.dropdown-menu {
    border-radius: 2px !important;
}

.clickjacking-warn {
    display: none;
    padding: 13px;
    font-size: 12px;
    margin-top: -15px;
    background-color: #fcf8e3;
}

.navbar-form {
    padding-left: 0;
}

.cs-search {
    width: 430px;
    line-height: 47px;
}

.cs-search .input-group-addon {
    background-color: transparent;
    border: none;
    line-height: 40px;
}

.cs-search-form {
    max-height: 50px;
}

.cs-search-form .navbar-form {
    border: none;
}

.cs-search-form.navbar-nav {
    padding-left: 228px;
}

.cs-navbar-control {
    font-size: 20px;
}

.main-stream {
    border: 1px solid #E2E2E2;
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.03);
    -webkit-box-shadow: 0 1px 2px 1px rgba(0,0,0,0.03);
    border-top-right-radius: 3px;
}

/*.col-xs-4 {
    width: 32.33333333333333%;
}*/


.col-xs-8 {
    padding-left: 0;
    padding-right: 0;
    /*width: 65.66666666666666%;*/

}

.stream-header {
    border-bottom: 1px solid #E2E2E2;
    padding: 5px;
    background-color: #FCFCFC;
    border-top-right-radius: 3px;
}

.stream-headline {
    font-size: 16px;
    font-weight: bold;
}

#dashboard {
    padding-top: 70px;
}

.dashboard-entry {
    background-color: #FDFDFD;
    border-bottom: #E2E2E2 solid 1px;
    color: #555555;
}

.dashboard-entry:hover {
    background-color: #FDFCF8;
}

.dashboard-entry .entry-title {
    font-weight: bold;
    color: #555555;
}

.dashboard-entry .entry-content {
    padding: 13px 13px 13px 13px;
}

.dashboard-entry .entry-content .feed {
    font-size: 12px;
}

.dashboard-entry .entry-title:hover {
    color: #0088CC;
}

.comments-area {
    font-size: 13px;
    padding-left: 13px;
    padding-right: 13px;
}

.comments-area .load-more i {
    font-size: 10px;
}

.comments-area .load-more a {
    font-size: 13px;
}

.comments-area .comment .content {
    margin-top: -20.3px;
    margin-bottom: 5px;
    margin-left: 20px;
}

.comments-area form.comment-form {
    margin: 0 0 5px;
    display: none;
}

.share-box {
    display: none;
    border-top: 1px solid #E2E2E2;
    background-color: #FBFBFB;
    padding: 5px 13px 5px 13px;
    font-size: 12px;
}

.share-box p {
    margin: 0;
}

.share-box i {
    cursor: pointer;
    margin-right: 10px;
}

.share-box input {
    font-size: 12px;
    padding: 3px;
}

.userspace {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px 20px 10px 20px;
    border-top: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
    border-left: 1px solid #E2E2E2;
    background-color: #FCFCFC;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.03);
    -webkit-box-shadow: 0 1px 2px 1px rgba(0,0,0,0.03);
}

.userspace .username {
    margin-left: 50px;
    margin-top: -41px;
}

.userspace .username a {
    color: #555555;
}

.userspace .username a:hover {
    color: #005580;
}

.follower .mugshot,
.userspace div.user img.mugshot {
    height: 40px;
    width: 40px;
}

.userspace .user small a {
    color: #555555;
    margin-left: 50px;
    font-size: 80%;
}

.userspace .top-area i {
    cursor: pointer;
    font-size: 16px;
}

/* Control Area */
.userspace .control-item {
    font-size: 13px;
    padding: 2.5px 13px 2.5px 13px  ;
}

.userspace .control-item a {
    text-decoration: none;
    color: #555555;
    width: 100%;
    display: block;
}

.userspace .control .active {
    color: #0088CC;
}

.userspace .control-item:hover {
    cursor: pointer;
}

.userspace .control-item i {
    padding-right: 3px;
    font-size: 20px;
}

.control-item .readlater-count,
.control-item .interaction-count {
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #dd4b39;
    border: none;
}

.userspace {
    padding: 0;
}

.userspace .profile {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #f0f4f5;
    padding: 13px;
    border-bottom: 1px solid #E2E2E2;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
}

ul.top-area {
    margin-left: 0;
    margin-top: -18px;
}

ul.top-area li {
    display: inline;
    list-style-type: none;
}

ul.top-area li a {
    color: #555555;
    text-decoration: none;
}


.timeline-entry-interaction {
    font-weight: lighter;
    font-size: 12px;
}

.repost-body .other-reposts,
.repost-body .from-now,
.timeline-entry-interaction a {
    text-decoration: none;
    color: #555555;
}

.repost-body .other-reposts:hover,
.repost-body .from-now:hover,
#lists li a:hover,
.timeline-entry-interaction a:hover {
    color: #0088CC;
}

ul.entry-utils {
    display: none;
    float: right;
    font-size: 14px;
    margin-bottom: 0;
}

ul.entry-utils li a {
    color: @font-color;
    text-decoration: none;
}

ul.entry-utils li {
    padding-left: 5px;
    list-style-type: none;
    display: inline !important;
}

/* Lists */
.lists .items {
    display: none;
    margin-left: 13px;
    font-size: 13px;
}

.list a {
    font-size: 13px;
    text-decoration: none;
}

button.create-list {
    margin-bottom: 5px;
}

span.create-list {
    display: none;
}

span.create-list button {
    margin-top: -10px;
}

input.find-feed {
    font-size: 13px;
    width: 70%;
}

p.list-add-warn {
    font-size: 12px;
}

.list .icon-remove-sign,
.list .icon-remove {
    display: none;
    margin-left: 5px;
    font-size: 18px;
}

.lists .list {
    border-bottom: 1px dotted #E2E2E2;
    margin-bottom: 5px;
}

.lists .list .add-to-list {
    margin-right: 5px;
    font-size: 18px;
}

input[name="list-name"] {
    padding: 0 5px 0 5px;
    font-size: 13px;
}

#lists {
    display: none;
    list-style: none;
    margin-bottom: 0;
}

#lists .list {
    font-size: 13px;
}

#lists .list a {
    color: #555555;
}

#lists span {
    font-size: 12px;
}

.lists ul.text {
    margin: 0;
}

.lists ul.text li {
    list-style: none;
    display: inline;
}

.list-manage {
    display: none;
    font-size: 10px;
}

.list-manage:hover {
    color: #0088cc;
}

textarea.form-control {
    margin-bottom: 5px;
}

.feed-detail-header {
    background-color: #FCFCFC;
    border-bottom: 1px solid #E2E2E2;
}

.feed-detail-header h4 span {
    font-size: 14px;
    font-weight: normal;
}

.feed-detail-header h4 {
    padding: 5px;
    margin: 0;
    font-weight: bold;
}

.feed-info {
    padding: 8px;
    font-size: 13px;
    /*margin-top: 5px;*/
    text-align: justify;
}

.feed-detail-control i.icon-cog {
    font-size: 20px;
}


/* START: Sign-in Page */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.signin-heading {
    text-align: center;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* END: Sign-in Page */

/* START: Reader */
.reader-container {
    display: none;
    width: 100%;
    height: 100%;
}

iframe {
    position: absolute;
    width: 100%;
    min-width: 70%;
    height: 96.33431085043988%;
}

.reader-header {
    width: 100%;
    min-width: 70%;
    height: 25px;
    line-height: 23px;
    top: 0;
    z-index: 1;
    background-color: #2D2D2D;
    border-bottom: 1px solid #000000;
    padding-left: 280px;
    padding-right: 280px;
    color: #BBBBBB;
    font-size: 17px;
}

.reader-header a.brand {
    float:left;
    text-decoration: none;
    color: #BBBBBB;
}

.reader-header ul.menu {
    padding-left: 0;
    margin-bottom: 0;
}

.reader-header ul.menu li {
    padding-left: 2px;
}

/* END: Reader */;

.cursor-pointer:hover {
    cursor: pointer;
}

textarea.comment {
    resize: none;
    border-radius: 0;
    padding: .5em;
    background: #fff;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 1em;
    line-height: 1.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border-radius: 3px;
}

.textbox-transition {
  vertical-align: top;
  transition: height 0.2s;
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
}

.comment-form .redfont {
    color: red;
}

.comment .content .from-now {
    font-weight: lighter;
    font-size: 11px;
}

.comment-form a.cancel {
    font-size: 12px;
}

.edit-comment-form {
    margin-top: -13px;
    margin-bottom: 5px;
    margin-left: 20px;
}

.comment-control {
    margin-left: 5px;
}

.comment-control a:hover {
    text-decoration: none !important;
}

.comment-control i {
    color: #555555;
}

.comment-control i:hover {
    color: #0CAEE3 !important;
}


/* Subscription page */
.subscription .subscription-link {
    font-size: 11px;
}

.subscription {
    border-bottom: #E2E2E2 solid 1px;
    color: #555555;
}

.subscription .subscription-content {
    padding: 13px;
    margin-right: 30px;
}

.subscription .subscription-content .subscription-summary {
    font-size: 13px;
}

.subscription:hover {
    background-color: #FBFBFB;
}

.subscription .subscription-title {
    font-weight: bold;
    color: #555555;
    text-decoration: none;
}

.subscription .subscription-title:hover {
    color: #0088CC;
}

#timeline-endless-loading p {
    margin: 0;
    text-align: center;
    font-style: italic;
}

#timeline-endless-loading img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

#navbar-loading {
    margin-top: 10px;
    margin-bottom: -47px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.profile-header {
    padding: 10px;
    overflow: hidden;
    background-color: #FCFCFC;
    border-bottom: 1px solid #E2E2E2;
    border-top-right-radius: 3px;
}

.profile-header .mugshot {
    width: 15%;
    float: left;
}
.profile-header .info-area {
    width: 85%;
    float: right;
}

.profile-header .display-name {
    font-size: 20px;
    font-weight: bold;
}

.profile-nothing-reposted {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
}

.profile-header .info-area .user-relations {
    font-size: 12px;
}

.profile-nothing-reposted {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
}

.repost-item {
    font-size: 13px;
    border-bottom: 1px dotted #E2E2E2;
    margin-bottom: 10px;
}

.quote {
    margin-left: 7px;
}

.reposted {
    font-size: 12px;
}

.repost-body .header {
    font-size: 13.5px;
}

/* Subscribe Modal */
#subscribeModal .results .result a {
    font-size: 13px;
}

#subscribeModal .results .result a:hover {
    border-bottom: 1px dotted #E2E2E2;
}

.feed-search input#id_feed_url {
    width: 97.5%;
}

.feed-search {
    margin: 0;
}

.subscribe-warning,
#subscribe-search {
    text-align: center;
    display: block;
}

.subs-plus-icon-warning {
    font-size: 13px;
    font-style: italic;
}

.new-entry-counter {
    padding: 10px;
    background-color: #EBF3EB;
    color: #555555;
    border-bottom: 1px solid #E2E2E2;
    text-align: center;
}

.new-entry-counter:hover {
    cursor: pointer;
    background-color: #DDE9DD;
}

.entry-text {
    font-size: 13px;
}

#contentModal {
    width: 100%;
    height: 100%;
}

#contentModal .modal-dialog {
    font-size: 13px;
    width: 100%;
    height: 100%;
}

#contentModal .modal-title {
    font-weight: bold;
    font-size: 18px;
}