// Global variables
@background-grey: #F9FAF7;
@background-white: #FFFFFF;
@border: 1px solid #E2E2E2;
@font-color: #555555;
@cs-blue: #428bca;
@link-hover: #005580;

body, html
{
    height: 100%;
}

body {
    font-family: 'Open Sans',Helvetica,sans-serif !important;
    color: #555555;
    /* Bu gecici bir sey */
    overflow: hidden;
    height: 100%;
    width: 100%;
}

[class*="icon-"],
a.brand {
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
}


[class*="icon-"]:hover,
a.brand:hover {
    color: @cs-blue;
}

.popover-title,
.popover,
input,
.modal,
.btn,
.dropdown-menu {
    border-radius: 2px !important;
}

.clickjacking-warn {
    display: none;
    padding: 13px;
    font-size: 12px;
    margin-top: -15px;
    background-color: #fcf8e3;
}

#wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: white;
}

#sidebar {
    background: #040014;
    width: 39px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

.app-content {
    position: absolute;
    left: 39px;
    top: 0;
    bottom: 0;
    right: 0;
    min-width: 93.92523364485982%;
    box-shadow: -1px 0 10px 0 rgba(0,0,0,0.5);
    -webkit-animation: .25s fade-in;
}

#stream {
    width: 30%;
    min-width: 30%;
    position: absolute;
    bottom: 0;
    top: 0;
    z-index: 2;
    border-left: 1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;
    background-color: #FDFDFD;
}

.stream-header {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #E2E2E2;
    font-size: 16px;
    font-weight: bold;
    box-shadow:0 0 2px rgba(0,0,0,0.2);
    background-color: #FFFFFF;
}

/* This is no good. We should UL element for list stream control buttons */
.stream-hide {
    margin-right: 5px;
    float: right;
}

.stream-pause {
    float: right;
}

#dashboard {
    position: absolute;
    min-width: 70%;
    width: 70%;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    background: #fff;
}

iframe {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}

.sidebar-cslogo {

}

.sidebar-control {
    list-style: none;
    padding: 0;
    position: absolute;
    bottom: 0;
}

.sidebar-icons {
    margin-top: 9px;
    min-width: 3%;
    list-style: none;
    padding: 0;
    position: relative;
}

.sidebar-icon {
    margin-bottom: 15px;
    font-size: 20px;
    padding-left: 9px;
}

.sidebar-icon a {
    color: #B5B5C1 !important;
    text-decoration: none;
    border-bottom: rgba(255, 255, 255, 0.1);
}

.sidebar-icon i:hover {
    color: white !important;
}

.sidebar-icon.signout {
    margin-bottom: 0;
}

.cursor-pointer:hover {
    cursor: pointer;
}

/* START: Dashboard Entries */

.dashboard-entry {
    border-bottom: @border;
    color: @font-color;
}

.dashboard-entry .entry-content {
    padding: 13px;
}

.dashboard-entry .entry-title {
    font-weight: bold;
    color: @font-color;
}

.dashboard-entry .entry-content .feed {
    font-size: 12px;
}

.dashboard-entry .entry-title:hover {
    color: @link-hover;
}

ul.entry-utils {
    display: none;
    float: right;
    font-size: 14px;
}

ul.entry-utils li a {
    color: @font-color;
    text-decoration: none;
}

ul.entry-utils li {
    padding-left: 5px;
    list-style-type: none;
    display: inline !important;
}

.timeline-entry-interaction {
    font-weight: lighter;
    font-size: 12px;
}

.new-entry-counter {
    padding: 10px;
    background-color: @background-grey;
    color: @font-color;
    border-bottom: @border;
    text-align: center;
}

.new-entry-counter:hover {
    cursor: pointer;
    background-color: #FCFCFC;
}

.empty-timeline {
    text-align: center;
    font-style: italic;
    font-size: 17px;
}

/* END: Dashboard Entries */


/* START: Share Box */

.share-box {
    display: none;
    border-top: @border;
    background-color: @background-grey;
    padding: 5px 13px 5px 13px;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 9px;
}

.share-box p {
    margin: 0;
}

.share-box i {
    cursor: pointer;
    margin-right: 10px;
}

.share-box input {
    font-size: 12px;
    padding: 3px;
}

/* END: Share Box */

/* START: Comment */

textarea.comment {
    resize: none;
    margin-bottom: 5px;
    border-radius: 0;
    padding: .5em;
    background: #FFFFFF;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 1em;
    line-height: 1.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.textbox-transition {
  vertical-align: top;
  transition: height 0.2s;
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
}

.comment-form .redfont {
    color: red;
}

.comment .content .from-now {
    font-weight: lighter;
    font-size: 11px;
}

.comment-form a.cancel {
    font-size: 12px;
}

.edit-comment-form {
    margin-top: -13px;
    margin-bottom: 5px;
    margin-left: 20px;
}

.comment-control {
    margin-left: 5px;
}

.comment-control a:hover {
    text-decoration: none !important;
}

.comment-control i {
    color: @font-color;
}

.comment-control i:hover {
    color: @link-hover !important;
}

.comments-area {
    font-size: 13px;
    padding-left: 13px;
    padding-right: 13px;
    margin-top: -9px;
}

.comments-area .load-more i {
    font-size: 10px;
}

.comments-area .load-more a {
    font-size: 13px;
}

.comments-area .comment .content {
    margin-top: -20.3px;
    margin-bottom: 5px;
    margin-left: 20px;
}

.comments-area form.comment-form {
    margin: 0 0 5px;
    display: none;
}
/* END: Comment */


.repost-body .other-reposts:hover,
.repost-body .from-now:hover,
#lists li a:hover,
.timeline-entry-interaction a:hover {
    color: @link-hover;
}

/* START: Interactions */
.list-header,
.readlater-header,
.interactions-header {
    border-bottom: @border;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
}
/* END: Interactions */

/* START: Repost */

.repost-body .other-reposts,
.repost-body .from-now,
.timeline-entry-interaction a {
    text-decoration: none;
    color: @font-color
}

.repost-body .other-reposts:hover,
.repost-body .from-now:hover,
#lists li a:hover,
.timeline-entry-interaction a:hover {
    color: @link-hover;
}

.repost-item {
    font-size: 13px;
    border-bottom: 1px dotted #E2E2E2;
    margin-bottom: 10px;
}

.reposted {
    font-size: 12px;
}

.repost-body .header {
    font-size: 13.5px;
}

.reposts-header,
.followers-header,
.following-header {
    border-bottom: 1px dotted #E2E2E2;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
}

.quote {
    margin-left: 7px;
}
/* END: Repost */

/* START: Sign-in Page */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.signin-heading {
    text-align: center;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* END: Sign-in Page */

/* START: Misc */

#timeline-endless-loading p {
    margin: 0;
    text-align: center;
    font-style: italic;
}

#timeline-endless-loading img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

#navbar-loading {
    margin-top: 10px;
    margin-bottom: -47px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.no-link {
    color: @font-color;
}
/* TODO: LESS fix? */
.no-link:hover {
    text-decoration: none;
}

.link-hover:hover {
    color: @link-hover;
}
/* END: Misc */