html {
scrollbar-base-color: #9999cc;
scrollbar-arrow-color: white;
scrollbar-track-color: #ccccff;

scrollbar-shadow-color: black;
scrollbar-lightshadow-color: black;
scrollbar-darkshadow-color: gray;

scrollbar-highlight-color: white;
scrollbar-3dlight-color: black;
}



html, body {
    height: 100%;
    color: #333333;
}


body {
    font-family: 'Open Sans',Helvetica,sans-serif !important;
}

#feed-source-list {
    background-color: #FAFAFA;
}

#feed-entry-list {
    font-size: 12px !important;
    background-image: url("../img/background.png");
}

.container {
    width: 100%;
}

.navbar-inner,
.btn {
    background-image: none;
}

.btn-toolbar {
    margin-top: 0;
}


iframe {
    width:100%;
    height:100%;
    position: absolute;
}

a.brand {
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
}

a.brand:hover {
    color: #0caee3;
}


#navigator {
    margin-left: -124px;
    width: 248px;
}

#navigator {
    left: 50%;
    margin-left: -90px;
    position: absolute;
    width: 160px;
    z-index: 149;
}

.page-header h1 small {
    font-size: 12px;
}

div.feed-item {
    line-height: 20px;
    padding-left: 8px;
    padding-right: 8px;
    vertical-align: top;
}

div.feed-item p {
    font-size: 10px;
    font-weight: bold;
}

div.feed-item p:hover {
    cursor: pointer;
}

.active {
    box-shadow: 0 1px 5px #D4D4D4;
    -webkit-border-radius: 5px; /* Webkit Standards */
    -moz-border-radius: 5px; /* Mozilla Standards */
    -o-border-radius: 5px; /* Opera Standards */
    -ms-border-radius: 5px; /* IE 10 Standards */
    border-radius: 5px; /* W3C Standards */
}

.current-entry {
    font-style: italic;
    color: #B94A48 !important;
}

div.feed-item span.badge {
    float: right;
    font-size:10px;
    padding-right: 5px;
    padding-left: 5px;
}

/* like related styles */

.like-voted {
    background-color: #333333;
}

.page-header h1 {
    margin-left: 10px;
}

#feed-entry-list .entry a,
.feed-item p {
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
}

.feed-item p:hover {
    color: #0CAEE3;
}

.feed-item p img {
    padding-bottom: 5px;
}

#home-navigator {
    text-align: center;
}

.footer {
    -webkit-box-shadow: 0px 1px 15px #D4D4D4;
    -moz-box-shadow: 0px 1px 15px #D4D4D4;
    box-shadow: 0px 1px 15px #D4D4D4;
}

#feed-entry-list div.day {
    -webkit-box-shadow: 0px 1px 5px #D4D4D4;
    -moz-box-shadow: 0px 1px 5px #D4D4D4;
    box-shadow: 0px 1px 5px #D4D4D4;
}

#feed-entry-list .day {
    margin-left: 6px;
    padding-left: 2px;
    background-color: #FAFAFA;
    margin-top: 5px;
    font-style: italic;
}

#feed-entry-list .entry {
    font-size: 10px;
    margin-left: 6px;
    padding-left: 2px;
}

#feed-entry-list .entry a {
    color: #333333;
    font-weight: bold;
}

#feed-entry-list .entry a:hover {
    color: #0caee3;
    text-decoration: none;
}


 article, aside, figure, footer, header, hgroup,
  menu, nav, section { display: block; }
html, body {
    height: 100%;
}

.main, .row-fluid {
    height: 100%;
}

.main:before, .main:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.main:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow: auto;
}


.column .padding {
    padding-bottom: 20px;
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
    padding-top: 20px;
}

#feed-entry-list .entry-padding {
    padding-bottom: 20px;
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
    padding-top: 2px;
}

.box {
    bottom: 40px;
    left: 0;
    position: absolute;
    right: 0;
    top: 40px;
}

.span9.full {
    width: 100%;
}

.footer {
    height: 40px;
    width: 100%;
    z-index: 100;
    background-color: #F5F5F5;
    bottom: 0;
    left:0;
    right:0;
    position: fixed;
}

.credit {
    margin-left: 10px;
    margin-top: 10px;
}

.row-fluid [class*="span"] {
    margin-left: 0; /*-0.436% !important; */
}

.temporary-home {
    padding-top: 70px;
    margin-left: 20px;
    padding-bottom: 70px;
}

.temporary-home .entries {
    display:none;
}

.temporary-home .feed p {
    cursor: pointer;
}

#share-modal input.link {
    width: 97.4%;
}

#id_password,
#id_identification {
    width: 93%;
}

#id_tags,
#id_feed_url {
    width: 97%;
}

#subscribe-modal .loading-gif {
    float:right;
    display:none;
}

#subscribe-modal span.warning {
    float:right;
}
