html, body {
    height: 100%;
    color: #333333;
}

body {
    font-family: 'Open Sans',Helvetica,sans-serif !important;
}

#feed-source-list {
    border-right: 1px solid #E2E2E2;
}

#feed-source-list .feed-item {
    border-bottom: 1px solid #E2E2E2;
}

#feed-source-list .feed-item:hover {
    background-color: #FBFBFB;
}

#feed-entry-list {
    font-size: 12px !important;
}

#explorer {
    width: 100%;
}

#dashboard {
    padding-top: 60px;
    padding-bottom: 20px;
}

.navbar-inner,
.btn {
    background-image: none;
}

.btn-toolbar {
    margin-top: 0;
}


iframe {
    width:100%;
    height:100%;
    position: absolute;
}

a.brand {
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
}

a.brand:hover {
    color: #0caee3;
}


#navigator {
    margin-left: -124px;
    width: 248px;
}

#navigator {
    left: 50%;
    margin-left: -90px;
    position: absolute;
    width: 160px;
    z-index: 149;
}

.page-header h1 small {
    font-size: 12px;
}

div.feed-item {
    padding: 6px 8px 6px 8px;
    vertical-align: top;
}

div.feed-item span.feed-title {
    font-size: 10px;
    font-weight: bold;
}

div.feed-item:hover {
    cursor: pointer;
}

div.feed-item span.feed-title:hover {
    color: #0CAEE3;
}

.active {
    background-color: #FBFBFB;
    font-style: italic;
}

.current-entry {
    font-style: italic;
    color: #3D6FB4 !important;
}

.feed-item span.badge img {
    padding-bottom: 5px;
}

div.feed-item span.badge {
    float: right;
    font-size:10px;
    padding-right: 5px;
    padding-left: 5px;
}

/* like related styles */

.like-voted {
    background-color: #333333;
}

.page-header h1 {
    margin-left: 10px;
}

#feed-entry-list .entry a,
.feed-item span.feed-title {
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
}

#home-navigator {
    text-align: center;
}

.footer {
    -webkit-box-shadow: 0px 1px 15px #D4D4D4;
    -moz-box-shadow: 0px 1px 15px #D4D4D4;
    box-shadow: 0px 1px 15px #D4D4D4;
}

#feed-entry-list .day {
    margin-left: 6px;
    padding-left: 2px;
    background-color: #FAFAFA;
    border-bottom: 1px solid #E2E2E2;
    border-top: 1px solid #E2E2E2;
    font-style: italic;
}

#feed-entry-list .entry:hover {
    background-color: #FBFBFB;
}

#feed-entry-list .entry {
    font-size: 10px;
    margin-left: 6px;
    padding-left: 2px;
}

#feed-entry-list .entry a {
    color: #333333;
    font-weight: bold;
}

#feed-entry-list .entry a:hover {
    color: #0caee3;
    text-decoration: none;
}

#feed-entry-list {
    border-right: 1px solid #E2E2E2;
}

 article, aside, figure, footer, header, hgroup,
  menu, nav, section { display: block; }
html, body {
    height: 100%;
}

.main, .row-fluid {
    height: 100%;
}

.main:before, .main:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.main:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow: auto;
}


.column .padding {
    padding-bottom: 2px;
    padding-top: 2px;
}

#feed-entry-list .entry-padding {
    padding-bottom: 2px;
    padding-top: 2px;
}

.box {
    bottom: 40px;
    left: 0;
    position: absolute;
    right: 0;
    top: 40px;
}

.span9.full {
    width: 100%;
}

.footer {
    height: 40px;
    width: 100%;
    z-index: 100;
    background-color: #F5F5F5;
    bottom: 0;
    left:0;
    right:0;
    position: fixed;
}

.credit {
    margin-left: 10px;
    margin-top: 10px;
}

.row-fluid [class*="span"] {
    margin-left: 0; /*-0.436% !important; */
}

#share-modal input.link {
    width: 97.4%;
}

#id_password,
#id_identification {
    width: 93%;
}

#id_tags,
#id_feed_url {
    width: 97%;
}

#subscribe-modal .loading-gif {
    float:right;
    display:none;
}

#subscribe-modal span.warning {
    float:right;
}

#dashboard-layout {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #FBFBFB;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}

#dashboard .timeline {
    background-color: #FFFFFF;
    border-top: 1px solid #E2E2E2;
    border-left: 1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
}

.dashboard-entry {
    padding: 13px;
    border-bottom: #E2E2E2 solid 1px;
    color: #555555;
}

.dashboard-entry:hover {
    background-color: #FBFBFB;
}

.dashboard-entry .entry-title {
    font-weight: bold;
    color: #555555;
}

.dashboard-entry .entry-title:hover {
    color: #0088CC;
}

.timeline-entry-interaction {
    font-weight: lighter;
    font-size: 12px;
}

.new-entry-counter {
    padding: 10px;
    background-color: #FBFBFB;
    color: #555555;
    border-bottom: 1px solid #E2E2E2;
    text-align: center;
    display: none;
}

.new-entry-counter:hover {
    cursor: pointer;
    background-color: #FCFCFC;
}

.empty-timeline {
    text-align: center;
    font-style: italic;
    font-size: 17px;
}