Django==1.5.3
PIL==1.1.7
South==0.8.2
amqp==1.0.13
anyjson==0.3.3
argparse==1.2.1
billiard==2.7.3.32
celery==3.0.23
distribute==0.6.34
django-announce==0.1.5
django-autoslug==1.7.1
django-celery==3.0.23
django-guardian==1.1.1
django-userena==1.2.3
djangorestframework==2.3.8
easy-thumbnails==1.3
feedparser==5.1.3
html2text==3.200.3
ipython==1.1.0
kombu==2.5.14
lxml==3.2.3
psycopg2==2.5.1
python-dateutil==2.1
pytz==2013d
redis==2.8.0
requests==1.2.3
six==1.4.1
wsgiref==0.1.2
