<div class="right-bar-info-area"></div>
<ul class="top-area">
    <li><i data-toggle="tooltip" title="Stream" id="live-stream" class="foundicon-globe"></i></li>
    <li><i data-toggle="tooltip" title="Search" id="search-feed" class="foundicon-search"></i></li>
    <li><i data-toggle="tooltip" title="Subscribe" id="subscribe-feed" class="foundicon-plus"></i></li>
    <li><img class="pull-right ajax-spinner" src="/static/img/realtime_spinner.gif"></img></li>
    <div class="divider"></div>
    <div class="interaction-box">
        <div class="feed-search-box">
            {{ feed_search_form }}
        </div>
        <div class="subscribe-feed-box">
            {{ subscribe_feed_form }}
            <button class="btn btn-small btn-primary" type="submit">Add</button>
        </div>
    </div>
    <div id="scrollable-sections-top-shadow"></div>
</ul>
<div class="feed-items">
{% for feed in feeds %}
{% include "frontend/partials/rightbar_feed_item.html" %}
{% endfor %}
</div>
<div id="scrollable-sections-bottom-shadow"></div>
