<span class="feed-stream">
    <img src="/static/img/rss.png"/>
        Feed Stream
</span>

<div class="divider"></div>
{% for feed in feeds %}
<div class="feed-item" data-feed-id="{{ feed.id }}">
    {% if feed.title %}
    <span class="feed-title"><img src="/static/img/rss.png"></img> {{ feed.title }}</span>
    {% else %}
    <span class="feed-title"><img src="/static/img/rss.png"></img> {{ feed.feed_url }}</span>
    {% endif %}
    <!-- <span class="badge badge-info">{{ entries|length }}</span>-->
</div>
{% endfor %}
