<div class="user">
    <img class="mugshot img-rounded" src="{{ profile.get_mugshot_url }}"/>
    {% if profile.user.get_full_name %}
    <dd class="username"><a href="/user/{{ user.username }}/">{{ profile.user.get_full_name }}</a></dd>
    {% else %}
    <dd class="username"><a href="/user/{{ user.username }}/">{{ profile.user.username }}</a></dd>
    {% endif %}
    <small><a href="#">{{ profile.user.feed_set.count }} subscriptions</a></small>
    <ul class="top-area pull-right">
        <li class="dropdown">
            <i data-toggle="dropdown" title="Subscribe" id="subscribe-feed" class="dropdown-toggle foundicon-plus"></i>
            <div class="dropdown-menu">
                <div class="subscribe-feed-dropdown">
                    {{ subscribe_feed_form }}
                    <button class="btn btn-small btn-primary" type="submit">Add</button>
                </div>
                <div class="subscribe-warning"></div>
            </div>
        </li>
        <li><i data-toggle="tooltip" title="Stream" id="live-stream" class="foundicon-globe"></i></li>
    </ul>
</div>
<div class="favorites">
    <span class="favorites-header">Favorites</span>
    <span><br/>Not implemented yet</span>
</div>
<div class="bookmarks">
    <span class="bookmarks-header">Bookmarks</span>
    <span><br/>Not implemented yet</span>
</div>

