{% if timeline %}
<div class="new-entry-counter" data-item-count="0"><a href="#"></a></div>
{% else %}
<div class="timeline-feed-entries-title">
    <h4>Latest entries of {{ feed_title }}</h4>
    <div class="divider"></div>
</div>
{% endif %}
<div class="dashboard-entries">
    {% if not entries %}
        {% if timeline %}
        <p class="empty-timeline">Hey! There are no feed in your timeline.</p>
        <p class="empty-timeline">You should add some feed source to start using FeedCraft.</p>
        {% endif%}
    {% endif %}
    {% include "frontend/partials/dashboard_entries.html" %}
</div>
<div id="timeline-endless-loading">
    <img src="/static/img/ajax-loader.gif"/>
    <p>~ No more entry ~</p>
</div>