<div class="share-box">
    <p>Share this entry on a social network:</p>
    <i class="icon-twitter"> Twitter</i>
    <i class="icon-facebook-sign"> Facebook</i>
    <i class="icon-google-plus-sign"> Google+</i>
    <br/><span>Direct Link:</span><br/>
    <input type="text" value="{{ entry.id }}"/>
</div>
<div class="clickjacking-warn">
    <span>Unfortunately, viewing in an external site is disabled by publisher.</span>
    <a class="external-link" href="{{ entry.link }}" target="_blank">
            Open in a new tab.
    </a>
</div>