<div id="dashboard-container" class="container">
    <div class="cs-header row">
        <div class="header-left col-md-3">
            <a class="brand" href="/">
                <i>
                    Chap<strong>Stream</strong><small> α</small>
                </i>
            </a>
        </div>
        <div class="col-md-6">
            <div class="searchbox input-group input-group-sm">
                <input type="text" class="form-control" placeholder="Search for sites, people and entries">
                <span class="input-group-addon"><i class="icon-search"></i></span>
            </div>
        </div>
        <div class="rightbar-control col-md-3">
            <div class="pull-right">
                <a class="no-link link-hover" href="#signout"><i class="settings icon-cogs"></i></a>
                <a class="no-link link-hover" href="#settings"><i class="signout icon-signout"></i></a>
            </div>
        </div>
    </div>
    <!-- Put list control modal's HTML to be global -->
    <div list-control-modal></div>

    <div class="cs-content row">
        <div ng-controller="UserSpaceCtrl" class="cs-leftbar col-md-3">
            <div ng-include="'/static/templates/userspace.html'"></div>
        </div>
        <div class="cs-dashboard-rightbar cs-timeline col-md-9">
            <div ng-view></div>
        </div>
    </div>
</div>