<div ng-show="feed404 == true" class="dashboard-404">
    <i class="icon-frown"></i>
    <h3>Sorry, that feed detail page doesn't exist!</h3>
    <h4><a href="/">Go to timeline</a></h4>
</div>
<div ng-show="!loading" class="feed-detail-header">
    <h4>
        <a href="{{ feed_detail.feed.link }}" target="_blank">{{ feed_detail.feed.title }}</a>
        <span ng-show='feed_detail.feed.subs_count == 0' class="subs-count">No subscriber</span>
        <span ng-show='feed_detail.feed.subs_count == 1' class="subs-count">1 subscriber</span>
        <span ng-show='feed_detail.feed.subs_count > 1' class="subs-count">{{ feed_detail.feed.subs_count }} subscribers</span>
        <a ng-click="unsubscribeFeed(feed_detail.feed.id)" ng-show="feed_detail.feed.is_subscribed == true" id="unsubscribe-feed-detail" class="btn btn-danger pull-right">Unsubscribe</a>
        <a ng-click="subscribeFeed(feed_detail.feed.id)" ng-show="feed_detail.feed.is_subscribed == false" id="subscribe-feed-detail" class="btn btn-primary pull-right">Subscribe</a>
    </h4>
    <div class="feed-info">
        <span class="tagline">{{ feed_detail.feed.tagline }}</span><br/>
        <span>Last sync: <i>{{ feed_detail.feed.last_sync }}</i></span>
        <div class="feed-detail-control dropdown pull-right">
            <i class="cursor-pointer dropdown-toggle icon-cog" data-toggle="dropdown"></i>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li role="presentation">
                    <a class="cursor-pointer" role="menuitem" tabindex="-1" data-toggle="modal" data-target="#listControlModal" run-list-control-modal>Add or remove from lists</a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#">Report abuse</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="divider"></div>
</div>

<div id="new-entry" ng-show="hiddenEntry == true" class="new-entry-counter" catch-new-entry show-hidden-entry>
    <a href="#" ng-show="newEntryCount == 1">{{ newEntryCount }} new entry</a>
    <a href="#" ng-show="newEntryCount > 1">{{ newEntryCount }} new entries</a>
</div>

    <div infinite-scroll='loadFeedDetail()' infinite-scroll-disabled='busy' class="dashboard-entries">
        <div ng-hide="entry.instantEntry == true" ng-mouseenter="myClass='show'" ng-mouseleave="myClass=''" class="dashboard-entry" ng-repeat="entry in feed_detail.entries">
            <div ng-include="'/static/templates/partials/entry-topbar.html'"></div>
            <div class="entry-content">
                <a ng-show="entry.available == 1" ng-click="renderToReader(entry.slug)" class="entry-title" href="/reader/{{entry.slug}}" prevent-default>
                    {{ entry.title }}
                </a>
                <a ng-show="entry.available != 1" class="entry-title" href="#" clickjacking-warn>
                    {{ entry.title }}
                </a>
                <div class="timeline-entry-interaction">
                    <a href="/entry/{{entry.id}}">
                        <span calc-from-now ts="{{ entry.created_at }}">{{ calcTime }}</span>
                    </a>
                    <span>&sdot;</span>
                    <a href="#" class="like transition" entry-like>{{ entry.like_msg }}</a>
                    <span>&sdot;</span>
                    <a href="#" class="comment transition" comment-box>Comment</a>
                    <span>&sdot;</span>
                    <a href="#" class="share transition" share-box>Share</a>
                    <span ng-show="entry.like_count > 0">&sdot;</span>
                    <span ng-show="entry.like_count == 1">{{ entry.like_count }} like</span>
                    <span ng-show="entry.like_count > 1">{{ entry.like_count }} likes</span>
                </div>
            </div>
            <div ng-include="'/static/templates/partials/helper-boxes.html'"></div>
            <div ng-include="'/static/templates/partials/comments.html'"></div>
        </div>
    </div>

<div id="timeline-endless-loading">
    <img ng-show="busy" src="/static/img/ajax-loader.gif"/>
    <p ng-show="busy">Please wait...</p>
    <span ng-hide="feed404"><p ng-show="endOfData">~ No more entry ~</p></span>
</div>