<div ng-show="!loading" class="feed-detail-header">
    <h4>
        <a href="{{ feed_detail.feed.link }}" target="_blank">{{ feed_detail.feed.title }}</a>
        <span ng-show='feed_detail.feed.subs_count == 0' class="subs-count">No subscriber</span>
        <span ng-show='feed_detail.feed.subs_count == 1' class="subs-count">1 subscriber</span>
        <span ng-show='feed_detail.feed.subs_count > 1' class="subs-count">{{ feed_detail.feed.subs_count }} subscribers</span>
        <a ng-click="unsubscribeFeed(feed_detail.feed.id)" ng-show="feed_detail.feed.is_subscribed == true" id="unsubscribe-feed-detail" class="btn btn-danger pull-right">Unsubscribe</a>
        <a ng-click="subscribeFeed(feed_detail.feed.id)" ng-show="feed_detail.feed.is_subscribed == false" id="subscribe-feed-detail" class="btn btn-primary pull-right">Subscribe</a>
    </h4>
    <div class="feed-info">
        <span class="tagline">{{ feed_detail.feed.tagline }}</span><br/>
        <span>Last sync at {{ feed_detail.feed.last_sync }}</span>
    </div>
    <div class="divider"></div>
</div>

<div class="new-entry-counter" data-item-count="0"><a href="#"></a></div>
    <div infinite-scroll='loadFeedDetail()' infinite-scroll-disabled='busy' class="dashboard-entries">
        <div ng-mouseenter="myClass='show'" ng-mouseleave="myClass=''" class="dashboard-entry" ng-repeat="entry in feed_detail.entries">
            <ul ng-class="myClass" class="entry-topbar">
                <li>
                    <a href="{{ entry.link }}" target="_blank">
                        <i data-toggle="tooltip" title="Original Link" class="icon-share-alt"></i>
                    </a>
                </li>
                <li>
                    <a href="/reader/{{ entry.id }}" target="_blank">
                        <i data-toggle="tooltip" title="Open new tab" class="icon-share"></i>
                    </a>
                </li>
            </ul>

            <div class="entry-content">
                <a ng-show="entry.available == 1" ng-click="renderToReader(entry.id)" class="entry-title" href="/reader/{{entry.id}}" prevent-default>
                    {{ entry.title }}
                </a>
                <a ng-show="entry.available != 1" class="entry-title" href="#" clickjacking-warn>
                    {{ entry.title }}
                </a>
                <div class="timeline-entry-interaction">
                    <span calc-from-now ts="{{ entry.created_at }}">{{ calcTime }}</span>
                    <span>&sdot;</span>
                    <a href="#" class="like transition" entry-like>{{ entry.like_msg }}</a>
                    <span>&sdot;</span>
                    <a href="#" class="comment transition" comment-box>Comment</a>
                    <span ng-show="entry.like_count > 0">&sdot;</span>
                    <span ng-show="entry.like_count == 1">{{ entry.like_count }} like</span>
                    <span ng-show="entry.like_count > 1">{{ entry.like_count }} likes</span>
                </div>
            </div>
            <div class="clickjacking-warn">
                <span>Unfortunately, viewing in an external site is disabled by publisher.</span>
                <a class="external-link" href="{{ entry.link }}" target="_blank">
                        Open in a new tab.
                </a>
            </div>
            <div class="comments-area">
                <div class="load-more" ng-show="entry.comments.count > 0">
                    <i class="general foundicon-refresh"></i>
                    <a href="#"  class="load-more" load-comments>
                        View {{ entry.comments.count }} more comments
                    </a>
                </div>
                <div class="comments">
                    <div class="comment" ng-repeat="comment in entry.comments.results">
                        <i class="social foundicon-chat"></i>
                        <div class="content">
                            {{ comment.content }}
                            <span> - </span>
                            <a href="#">{{ comment.author }}</a>
                            <span> &sdot; </span>
                            <span class="from-now" calc-from-now ts="{{ comment.created_at }}">{{ calcTime }}</span>
                        </div>
                    </div>
                </div>
                <form ng-show="showCommentBox" class="comment-form">
                    <textarea ng-model="commentContent" class='comment textbox-transition' count-char></textarea>
                    <button class="btn btn-small btn-primary" type="button" post-comment>Post</button>
                    <a href="#" class="cancel" cancel-comment>Cancel</a>
                    <span ng-class="{redfont: restCharCount == 0}" class="pull-right">{{ maxCharCount - commentContent.length }}</span>
                    <img ng-show="postingComment" src="/static/img/realtime_spinner.gif"/>
                </form>
            </div>
        </div>
    </div>
<div id="timeline-endless-loading">
    <img ng-show="busy" src="/static/img/ajax-loader.gif"/>
    <p ng-show="busy">Please wait...</p>
    <p ng-show="endOfData">~ No more entry ~</p>
</div>