<div class="iframe-container" style="margin-top: 1px;">
    <div class="entry-doesnot-exist" ng-show="msg">
        <i class="icon-frown"></i><br/>
        {{ msg }}<br/>
        <a ng-click="goToHome()" class="enable-hover transition" href="/" prevent-default>Return to dashboard</a>
    </div>

    <div class="loading-iframe" ng-show="showLoading">
        <img src="/static/img/ajax-loader.gif"/>
    </div>

    <div ng-show="entry.available == 0" class="clickjacking-warn-reader">
        <p>{{ entry.title }}</p>
        <span>Unfortunately, viewing in an external site is disabled by publisher.</span>
        <br/>
        <a class="external-link" href="{{ entry.link }}" target="_blank">
            Open in a new tab.
        </a>
    </div>
    <iframe ng-show="!showLoading" border="0" frameborder="0" hspace="0" vspace="0" marginheight="0" marginwidth="0" src="{{ entry.link }}"></iframe>
</div>

<script type="text/javascript" charset="utf-8">
// To close reader dropdown menus
$(document).ready(function() {
    $('iframe').iframeTracker({
        blurCallback: function(){
            $(".subscriptions").getNiceScroll().hide();
            $(".entries").getNiceScroll().hide();
            $(".submenu").hide();
            $(".dropdown-menu").attr('id', '');
        }
    });
});
</script>
