<div id="listControlModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="listControlModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="listControlModalLabel">Manage your lists</h3>
  </div>
  <div class="modal-body">
    <input ng-model="feedItem" type="text" class="find-feed" placeholder="Give a keyword and press Enter"/>
    <img ng-show="listBusy == true" class="pull-right" src="/static/img/realtime_spinner.gif"/>
    <p class="list-add-warn">Click a plus icon to add the above feed to a list</p>
    <span ng-class="showCreateList" class="create-list">
        <input ng-model="newListName" type="text" name="list-name" placeholder="Give a list name"/>
        <button class="btn btn-mini btn-primary" create-list>Save</button>
        <button ng-click="showCreateList=''" class="btn btn-mini">Cancel</button>
    </span>
    <button ng-click="showCreateList='show'" ng-hide="showCreateList" class="create-list btn btn-mini btn-primary">Create list</button><br/>
    <div class="lists">
        <div ng-mouseenter="myClass='show'" ng-mouseleave="myClass=''" class="list" ng-repeat="list in lists">
            <span>
                <i class="add-to-list cursor-pointer icon-plus" append-to-list list-index="{{ $index }}" list-id="{{ list.id }}" feed-id="{{ feedId }}"></i>
                <a href="#" list-toggle>{{ list.title }}</a>
                <span style="display: none" ng-class="listDelSure">
                    Deleting, are you sure? (<a href="#" sure-delete-list list-id="{{ list.id }}">Yes</a> | <a href="#" ng-click="listDelSure=''">No</a>)
                </span>
                <i ng-class="myClass" class="cursor-pointer icon-remove" ng-click="listDelSure='show'"></i>
            </span>
            <div class="items" id="{{ list }}">
                <div ng-mouseenter="showRemove='show'" ng-mouseleave="showRemove=''" class="item" ng-repeat="item in list.items">
                   <span>
                    {{ item.title }}
                    <span style="display: none" ng-class="listItemDelSure">
                        Deleting, are you sure? (<a href="#" delete-from-list item-index="{{ $index }}" list-id="{{ list.id }}" feed-id="{{ item.id }}">Yes</a> | <a href="#" ng-click="listItemDelSure=''">No</a>)
                    </span>
                    <i ng-class="showRemove" class="cursor-pointer icon-remove-sign" ng-click="listItemDelSure='show'"></i>
                   </span>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!--
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save</button>
  </div>
-->
</div>