<div id="reader-container" class="reader-container">
    <div class="reader-header">
        <div class="wrapper">
            <section class="brand">
                <a ng-click="switchMode()" class="brand transition" href="/" prevent-default read-this>
                    <i>Chap<strong>Stream</strong><small> &alpha;</small></i>
                </a>
            </section>
        </div>
    </div>
    <iframe border="0" frameborder="0" hspace="0" vspace="0" marginheight="0" marginwidth="0" src=""></iframe>
</div>