<ul class="sidebar-icons">
    <li class="cursor-pointer sidebar-icon stream">
        <a href="/">
            <i class="icon-home"></i>
        </a>
    </li>
    <li class="cursor-pointer sidebar-icon chaps">
        <a href="/chaps">
            <i class="icon-group"></i>
        </a>
    </li>
    <li class="cursor-pointer sidebar-icon exchange">
        <a href="/interactions">
            <i class="icon-exchange"></i>
        </a>
    </li>
    <li class="cursor-pointer sidebar-icon lists">
        <a href="/lists">
            <i class="icon-th-list"></i>
        </a>
    </li>
    <li class="cursor-pointer sidebar-icon readlater">
        <a href="/readlater">
            <i class="icon-time"></i>
        </a>
    </li>
    <li class="cursor-pointer sidebar-icon search">
        <a href="/search">
            <i class="icon-search"></i>
        </a>
    </li>
    <li ng-show="hiddenStream" class="cursor-pointer sidebar-icon open-stream" toggle-stream>
        <a href="#">
            <i class="icon-long-arrow-right"></i>
        </a>
    </li>
</ul>

<ul class="sidebar-control">
    <li class="cursor-pointer sidebar-icon settings">
        <a href="/settings">
            <i class="icon-cog"></i>
        </a>
    </li>
    <li class="cursor-pointer sidebar-icon signout">
        <a href="/user/signout">
            <i class="icon-signout"></i>
        </a>
    </li>
</ul>