<div id="new-entry" ng-show="hiddenEntry == true" class="new-entry-counter" catch-new-entry show-hidden-entry>
    <a href="#" ng-show="newEntryCount == 1">{{ newEntryCount }} new entry</a>
    <a href="#" ng-show="newEntryCount > 1">{{ newEntryCount }} new entries</a>
</div>
<div infinite-scroll='loadTimelineEntries()' infinite-scroll-disabled='busy' class="dashboard-entries">
        <div ng-hide="entry.instantEntry == true"
            ng-mouseenter="myClass='show'" ng-mouseleave="myClass=''"
                class="dashboard-entry" ng-repeat="entry in entries">
            <span ng-switch on="entry.isRepost">
                <div ng-switch-when="undefined" ng-include="'/static/templates/partials/entry-body.html'"></div>
                <div ng-switch-when="true" ng-include="'/static/templates/partials/repost-body.html'"></div>
            </span>
            <div ng-include="'/static/templates/partials/helper-boxes.html'"></div>
            <div ng-include="'/static/templates/partials/comments.html'"></div>
        </div>
</div>

<div id="timeline-endless-loading">
    <img ng-show="busy" src="/static/img/ajax-loader.gif"/>
    <p ng-show="endOfData">~ No more entry ~</p>
</div>