<div ng-show="profile" class="profile">
    <div class="user">
        <img class="mugshot img-rounded" src="{{ profile.mugshot_url }}"/>
        <dd class="username"><a href="/user/{{ profile.username }}/">{{ profile.display_name }}</a></dd>
        <small class="hint--bottom" data-hint="Show your subscriptions" ng-show="subscriptionCount  == 0"><a href="/subscriptions">No subscription</a></small>
        <small class="hint--bottom" data-hint="Show your subscriptions" ng-show="subscriptionCount  == 1 "><a href="/subscriptions">{{ subscriptionCount }} subscription</a></small>
        <small class="hint--bottom" data-hint="Show your subscriptions" ng-show="subscriptionCount  > 1 "><a href="/subscriptions">{{ subscriptionCount }} subscriptions</a></small>
        <ul class="top-area pull-right">
            <li ng-controller="SubscribeCtrl">
                <i ng-click="cleanSubsModal()" id="subscribe-feed" class="icon-plus-sign-alt" data-toggle="modal" data-target="#subscribeModal"></i>
                <!-- Modal -->
                <div id="subscribeModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="subscribeModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="subscribeModalLabel">Add Subscription</h3>
                    </div>
                    <div class="modal-body">
                        <form ng-submit="findSource()" name="subscribe-form" class="feed-search">
                            <label for="id_feed_url">Enter a search term to find sources or paste in a source URL:
                                <img ng-show="showWait" style="float: right" src="/static/img/realtime_spinner.gif"/>
                            </label>
                            <input id="id_feed_url" maxlength="256" ng-model="form.feed_url" placeholder="Give a valid URL" type="text" ng-keyup="findSource()">
                            <span ng-hide="!showWait" id="subscribe-search">Please wait...</span>
                            <span class="subscribe-warning">{{ warning }}</span>
                        </form>
                        <div ng-show="results" class="results">
                            <div class="result" ng-repeat="result in results">
                                <i ng-click="subsFeed(result)" class="icon-plus-sign"></i>
                                <a href="{{result}}" target="_blank">{{ result }}</a>
                            </div>
                            <span class="subs-plus-icon-warning">Click the plus icon to subscribe.</span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="findSource()" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="control">
    <div class="control-items">
        <div class="control-item stream">
            <a href="/">
                <i class="control-icon icon-globe"></i>
                <span class="text">
                    Stream
                </span>
            </a>
        </div>
        <div class="control-item chap">
            <a href="/">
                <i class="control-icon icon-group"></i>
                <span class="text">
                    Chaps
                </span>
            </a>
        </div>
        <div class="control-item interactions">
            <a href="/interactions">
                <i class="control-icon icon-exchange"></i>
                <span class="text">
                    Interactions
                </span>
            </a>
        </div>
        <div ng-mouseenter="myClass='show'" ng-mouseleave="myClass=''" class="control-item lists">
            <a href="#" show-lists>
                <ul class="text">
                    <li><i class="control-icon icon-th-list"></i></li>
                    <li>Lists</li>
                    <li>
                        <span ng-class="myClass" class="list-manage pull-right cursor-pointer" data-toggle="modal" data-target="#listControlModal" run-list-control-modal>Manage</span>
                    </li>
                </ul>
            </a>
        </div>

        <!-- This is no good! But it works perfectly!-->
        <ul id="lists">
            <i ng-hide="lists" class="icon-warning-sign"></i>
            <span ng-hide="lists">No list found.</span>
            <li class="list" ng-repeat="list in lists">
                <i class="icon-caret-right"></i>
                <a href="/list/{{ list.slug }}" class="transition">{{ list.title }}</span>
            </li>
        </ul>

        <div class="control-item">
            <a href="/readlater">
                <i class="control-icon icon-time"></i>
                <span class="text">
                    Read later
                </span>
                <span ng-show="readlater_count > 0" class="badge badge-important pull-right readlater-count">
                    {{ readlater_count }}
                </span>
            </a>
        </div>
    </div>
</div>

<img id="profile-loading" ng-show="!profile" src="/static/img/ajax-loader.gif"/>