<!-- Modal -->
<div id="entry-list-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="entryListLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="entryListLabel">Available entries for {{ title }} </h3>
    </div>
    <div class="modal-body">
        <!-- We need pagination! -->
        <ul class="nav nav-stacked">
            {% for entry in entries %}
            <li><a class="entry" href="/explorer/{{ feed_id }}/{{ entry.slug }}"{{ entry.title }}>{{ entry.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
