{% extends "feedcraft_base.html" %}
{% block title %}FeedCraft &alpha; | {{ entry.title }}{% endblock %}
{% block navbar_content %}
<div id="navigator" class="btn-toolbar">
    <div class="btn-group">
        {% if user.is_authenticated %}
        <a href="#" class="btn entry-dislike" data-value="-1"><i class="icon-thumbs-down"></i></a>
        {% endif %}

        <a class="btn" id="nav-previous" data-link="" data-feed-id="" data-placement="bottom" data-toggle="tooltip"
        data-title="" data-entry-id=""><i class="icon-arrow-left"></i></a>

        {% if user.is_authenticated %}
        <a class="btn" id="feed-navigation" data-placement="bottom" data-original-title="Entry List"
        href="#"><i class="icon-th-list"></i></a>
        {% endif %}

        <a class="btn" id="nav-next" data-link="" data-placement="bottom" data-feed-id="" data-entry-id="" data-title=""><i class="icon-arrow-right"></i></a>

        {% if user.is_authenticated %}
        <a href="#" class="btn entry-like" data-value="1"><i class="icon-thumbs-up"></i></a>
        {% endif %}
    </div>
</div>
<ul class="nav pull-right">
    {% if user.is_authenticated %}
    <li><a href="#subscribe-modal" data-toggle="modal">Subscribe</a></li>
    {% endif %}

    <li><a href="#share-modal" data-toggle="modal">Share</a></li>
    <li class="divider-vertical"></li>

    {% if user.is_authenticated %}
    <li class="dropdown">
        <a href="#" data-toggle="dropdown" role="button" id="drop4" class="dropdown-toggle"><i class="foundicon-settings"></i></a>
        <ul aria-labelledby="drop4" role="menu" class="dropdown-menu" id="menu1">
            <li role="presentation"><a href="/user/{{ user.username }}/" tabindex="-1" role="menuitem">Profile</a></li>
            <li role="presentation"><a href="/user/signout" tabindex="-1" role="menuitem">Sign Out</a></li>
            <!--<li class="divider" role="presentation"></li>-->
        </ul>
    </li>
    {% else %}
    <li><a href="/user/signin">Sign in</a></li>
    <!-- Sign up form -->
    {% endif %}
</ul>
{% endblock %}

{% block container %}
    <div id="explorer" class="container">
        <div class="main">
            {% include "frontend/partials/explorer_share_modal.html" %}
            <div class="box">
                <div class="row-fluid">
                    <div id="iframe-container" data-link="{{ entry.link }}" data-entry-id="{{ entry.id }}" data-feed-id="{{ entry.feed.id }}" class="container column span12">
                        <iframe id="frame" frameborder="0" marginheight="0" marginwidth="0" src="{{ entry.link }}"></iframe>
                    </div>
                        <!-- <div class="padding">
                            <div class="full span9">
                            </div>
                        </div>-->
                </div>
            </div>
        </div>
    </div>

<div class="footer">
    <div class="content">
        <p class="muted credit"><i>FeedCraft Developers &copy; 2013</i></p>
    </div>
</div>
{% endblock %}