{% extends "feedcraft_base.html" %}

{% block custom_css %}
<style>
/*body{   padding-top: 41px;max-height:100%; overflow:hidden;}*/
</style>
{% endblock %}

{% block title %}FeedCraft &alpha; | {{ entry.title }}{% endblock %}
{% block container %}
<div id="fc-csrf">{% csrf_token %}</div>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="{% url "home" %}"><i>Feed<strong>Craft</strong><small> &alpha;</small></i></a>
                <div id="navigator" class="btn-toolbar">
                    <div class="btn-group">
                        <a href="#" class="btn entry-dislike" data-value="-1"><i class="icon-thumbs-down"></i></a>

                        <a class="btn" id="nav-previous" data-link="" data-feed-id="" data-placement="bottom" data-toggle="tooltip"
                            data-title="" data-entry-id="" href="#"><i class="icon-arrow-left"></i></a>

                        <a class="btn" id="feed-navigation" data-placement="bottom" data-original-title="Entry List"
                            href="#"><i class="icon-th-list"></i>
                        </a>

                        <a class="btn" id="nav-next" data-link="" data-placement="bottom" data-feed-id="" data-entry-id="" data-title=""
                            href="#"><i class="icon-arrow-right"></i></a>

                        <a href="#" class="btn entry-like" data-value="1"><i class="icon-thumbs-up"></i></a>

                    </div>
                </div>
                <ul class="nav pull-right">
                    <li><a href="#subscribe-modal" data-toggle="modal">Subscribe</a></li>
                    <li><a href="#share-modal" data-toggle="modal">Share</a></li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" role="button" id="drop4" class="dropdown-toggle">{{ user.username }} <b class="caret"></b></a>
                        <ul aria-labelledby="drop4" role="menu" class="dropdown-menu" id="menu1">
                            <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Profile</a></li>
                            <li role="presentation"><a href="/accounts/signout" tabindex="-1" role="menuitem">Sign Out</a></li>
                            <!--<li class="divider" role="presentation"></li>-->
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="explorer" class="container">
        <div class="main">
            <div id="share-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="share-modalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Share this entry</h3>
                </div>
                <div class="modal-body">
                    <input class="link" type="text"></input>
                    <small class="open-new-tab"><i class="icon-share-alt"></i><a target="blank">Open this in a new tab</a></small>
                </div>
            </div>
            <div class="box">
                <div class="row-fluid">
                    <div id="iframe-container" data-link="{{ entry.link }}" data-entry-id="{{ entry.id }}" data-feed-id="{{ entry.feed.id }}" class="container column span12">
                        <iframe id="frame" frameborder="0" marginheight="0" marginwidth="0" src="{{ entry.link }}"></iframe>
                    </div>
                        <!-- <div class="padding">
                            <div class="full span9">
                            </div>
                        </div>-->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="content">
        <p class="muted credit"><i>FeedCraft Developers &copy; 2013</i></p>
    </div>
</div>
{% endblock %}