{% extends "chapstream_base.html" %}
{% block body %}

<body ng-app="Dashboard">
    <!-- Fixed navbar -->
    <div id="navbar" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><i>Chap<strong>Stream</strong> &alpha;</i></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav cs-search-form">
                    <div class="cs-search input-group input-group-sm">
                        <input type="text" class="form-control input-lg" placeholder="Search something">
                        <span class="input-group-addon"><i class="icon-search"></i></span>
                    </div>
                </ul>
                <ul class="cs-navbar-control nav navbar-nav navbar-right">
                    <li><a href="#"><i class="icon-cogs"></i></a></li>
                    <li sign-out><a href="/user/signout/"><i class="icon-signout"></i></a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div id="dashboard" class="container">
        <div content-modal></div>
        <div class="row">
            <div ng-controller="UserSpaceCtrl" class="col-xs-4 userspace">
                <div ng-include="'/static/templates/userspace.html'"></div>
            </div>
            <div class="col-xs-8 main-stream">
                <div ng-view></div>
            </div>
        </div>
    </div> <!-- /container -->
</body>
{% endblock %}