{% extends "chapstream_base.html" %}
{% block reader_requirements %}
<link rel="stylesheet" href="/static/css/reader.css"></link>
<script type="application/javascript" src="/static/js/jquery.iframetracker.js"></script>
<script type="application/javascript" src="/static/js/angular/ChapStreamReader.js"></script>
<script type="application/javascript" src="/static/js/reader.js"></script>
{% endblock %}

{% block body %}
<body ng-app="ChapStreamReader">
    {% verbatim %}
    <div ng-controller="ReaderNavbarCtrl" class="header">
        <div class="container">
            <section class="brand">
                <a  ng-click="goToHome()" class="brand transition" href="/" prevent-default>
                    <i>Chap<strong>Stream</strong><small> &alpha;</small></i>
                </a>
            </section>
            <span ng-switch on="isAuthenticated">
                <span ng-switch-when="true">
                    <!-- left side of the navbar -->
                    <ul class="menu">
                        <li ng-show="entry.liked" class="hint--bottom active" data-hint="You liked">
                            <i class="cursor-pointer icon-thumbs-up" entry-like></i>
                        </li>
                        <li ng-show="!entry.liked" class="hint--bottom" data-hint="Like">
                            <i class="cursor-pointer icon-thumbs-up" entry-like></i>
                        </li>
                        <li ng-show="!entry.inReadLater" class="hint--bottom" data-hint="Read later">
                            <i class="cursor-pointer icon-time" read-later></i>
                        </li>
                        <li ng-show="entry.inReadLater" class="hint--bottom active" data-hint="Remove from the read later list">
                            <i class="cursor-pointer icon-time" read-later></i>
                        </li>
                        <li class="hint--bottom" data-hint="Bookmark this">
                            <i class="cursor-pointer icon-star"></i>
                        </li>
                        <li class="hint--bottom" data-hint="Comments">
                            <i class="cursor-pointer icon-comment"></i>
                        </li>
                        <li class="dropdown">
                            <i class="cursor-pointer dropdown-cog dropdown-menu icon-cog"></i>
                            <div class="submenu">
                                <ul class="root">
                                    <li>
                                        <a href="/user/signout">Sign out</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </span>
            </span>
            <span ng-hide="isAuthenticated">
                <ul class="menu">
                    <li class="hint--bottom" data-hint="Join ChapStream">
                        <i class="cursor-pointer icon-user"></i>
                    </li>
                </ul>
            </span>

            <!-- Middle section of the navbar -->
            <ul class="navigation">
                <li ng-show="!empty(entry.previous)" class="hint--bottom" data-hint="Previous: {{ entry.previous.title }}">
                    <a href="/reader/{{ entry.previous.slug }}">
                        <i class="icon-arrow-left"></i>
                    </a>
                </li>
                <li ng-show="empty(entry.previous)" class="hint--bottom" data-hint="No more entry">
                    <i class="cursor-pointer general icon-arrow-left"></i>
                </li>

                <li class="show-other-entries dropdown">
                    <i ng-click="loadEntries()" class="cursor-pointer dropdown-menu icon-list-alt"></i>
                    <div class="dropdown-entries submenu">
                        <span class="entries-navigation" entries-navigation>
                            <span class="entries-navigation-item">
                                <span> &sdot; </span><a id="entries" class="active-entries-nav" href="#" entries>Entries</a>
                            </span>
                            <span class="entries-navigation-item">
                                <span> &sdot; </span><a id="subscriptions" href="#">Subscriptions</a>
                            </span>
                            <span class="entries-navigation-item">
                                <span> &sdot; </span><a id="new-subscription" href="#">New Subscription</a>
                            </span>
                        </span>
                        <div ng-show="showEntriesBlock == true" class="entries-block">
                            <section class="entries-header">
                                <img ng-show="showLoading" src="/static/img/realtime_spinner.gif"/>
                                <p class="feed-title">{{ feedTitle }}</p>
                                <input type="text" name="search" ng-model="keyword" placeholder="Give a keyword">
                                <small>Press enter to search in the remote source otherwise searching will be local.</small>
                            </section>
                            <div when-scrolled="loadEntries()" class="entries">
                                <div class="entry" ng-repeat="item in other_entries | filter:keyword">
                                    <a href="/reader/{{item.slug}}">{{ item.title }}</a>
                                </div>
                            </div>
                        </div>
                        <div ng-show="showSubscriptionBlock == true" class="subscription-block">
                            <div class="subscriptions-header">
                                <img ng-show="showLoading" src="/static/img/realtime_spinner.gif"/>
                                <input type="text" name="subs-search" ng-model="subsKeyword" placeholder="Type something and wait" search-subscriptions>
                                <small ng-show="nothingFound">Nothing found</small>
                            </div>
                            <div class="subscriptions">
                                <div class="subscription" ng-repeat="subscription in subscriptions">
                                    <a href="#" get-entries s-id="{{subscription.id}}">{{ subscription.title }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li ng-show="!empty(entry.next)" class="hint--bottom" data-hint="Next: {{ entry.next.title }}">
                    <a href="/reader/{{ entry.next.slug }}">
                        <i class="icon-arrow-right"></i>
                    </a>
                </li>
                <li ng-show="empty(entry.next)" class="hint--bottom" data-hint="No more entry">
                    <i class="cursor-pointer icon-arrow-right"></i>
                </li>
            </ul>

        </div>
    </div>
    <div ng-view></div>
    {% endverbatim %}
</body>
{% endblock %}


            <!-- <div class="dropdown">
<a class="account" >My Account</a>

<div class="submenu">
<ul class="root">
<li ><a href="#Dashboard" >Dashboard</a></li>
<li ><a href="#Profile" >Profile</a></li>
<li ><a href="#settings">Settings</a></li>
<li ><a href="#feedback">Send Feedback</a></li>
</ul>
</div>

</div>
-->