{% extends "feedcraft_base.html" %}
{% block title %}FeedCraft &alpha; | Subscribing {{ url }}{% endblock %}
{% block container %}
<div id="subscribe-in-url" data-url="{{ url }}">
    <div class="container">
        <h2>Please wait...</h2>
        <p>{{ url }}</p>
        <div class="result">
            <a class="btn btn-middle btn-success" target="_blank" href="{% url 'home' %}">Go to home page</a>
            <a id="close" class="btn btn-middle btn-inverse" href="#">Close</a>
        </div>
    </div>
</div>
{% endblock %}