{% extends 'feedcraft_base.html' %}
{% block layout_id %}profile-layout{% endblock %}
{% block title %}{{ profile.user.username }} on FeedCraft &alpha;{% endblock %}

{% block container %}
<div class="container">
    <h1 style="padding-top: 120px; text-align: center;">Hey, How are you?</h1>
</div>
<!--
<div class="container">
    <div id="user-profile">
        <div class="row-fluid">
            <div class="profile-box span4 profile-dashboard">
                <img class="mugshot img-rounded" src="{{ profile.get_mugshot_url }}"/>
                {% if profile.user.get_full_name %}
                <dd class="username">{{ profile.user.get_full_name }}</dd>
                {% else %}
                <dd class="username">{{ profile.user.username }}</dd>
                {% endif %}
                <div class="divider"></div>
                <span>Bookmarks and etc.</span>
            </div>
            <div class="span8 profile-timeline">
                <div class="header-inner">
                    {% if user.username == profile.user.username %}
                    <h4>Your recent actions</h4>
                    {% else %}
                    {% if profile.user.get_full_name %}
                    <h4>{{ profile.user.get_full_name }}'s near actions
                        <a data-username="{{ profile.user.username }}" data-placement="bottom" data-toggle="tooltip" data-original-title="Subscribe this user" class="check-subscription subscribe-user-icon" href="{% url "subscribe_user" %}"><img src="/static/img/fc-webicon-rss-s.png"/></a>
                        <a data-username="{{ profile.user.username }}"  class="unsubscribe-button btn btn-small btn-success" href="#">Unsubscribe</a>
                    </h4>
                    {% else %}
                    <h4>{{ profile.user.username }}'s near actions
                        <a data-username="{{ profile.user.username }}" data-placement="bottom" data-toggle="tooltip" data-original-title="Subscribe this user" class="check-subscription subscribe-user-icon" href="{% url "subscribe_user" %}"><img src="/static/img/fc-webicon-rss-s.png"/></a>
                        <a data-username="{{ profile.user.username }}" class="unsubscribe-button btn btn-small btn-success" href="#">Unsubscribe</a>
                    </h4>
                    {% endif %}
                    {% endif %}
                </div>
                {% for shared_item in shared_items %}
                <div class="share-box" data-entry-id="{{ shared_item.entry.id }}">
                    <img class="mugshot img-rounded" src="{{shared_item.participant.get_mugshot_url }}"/>
                    {% if profile.user.get_full_name %}
                    <div class="participant">
                        <a href="/user/{{ shared_item.participant.user.username }}">{{ shared_item.participant.user.get_full_name }}</a>
                        {% else %}
                        <a href="/user/{{ shared_item.participant.user.username }}">{{ shared_item.participant.user.username }}</a>
                        {% endif %}
                        <div class="entry-timestamp">
                            <i class="foundicon-calendar"></i>
                            {{ shared_item.timestamp|date:"D d" }}
                        </div>
                    </div>
                    <div class="share-box-entry">
                        <a href="/explorer/{{ shared_item.entry.id }}" class="entry-title">{{ shared_item.entry.title }}</a>
                        on
                        <a href="/explorer/{{ shared_item.entry.id }}" class="feed">{{ shared_item.entry.feed.title }}</a>
                    </div>
                    {% if shared_item.note %}
                        <div class="note">{{ shared_item.note|safe }}</div>
                    {% endif %}
                    <div class="timeline-entry-interaction">
                        {% if shared_item.entry.entrydislike.user.count %}
                        <span style="float:right;" class="dislike-count">{{ shared_item.entry.entrydislike.user.count }} dislike</span>
                        {% endif %}
                        {% if shared_item.entry.entrylike.user.count %}
                        <span style="float:right;" class="like-count">{{ shared_item.entry.entrylike.user.count }} likes</span>
                        {% endif %}
                        <span class="like">Like</span>
                        <span class="dislike">Dislike</span>
                        <span class="Comment">Comment</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
-->
{% endblock %}
