{% extends 'chapstream_base.html' %}
{% block title %}ChapStream | Signin{% endblock %}
{% block body %}
<body>
    <div class="container">
        <form class="form-signin" action="" method="post">
            {% csrf_token %}
            <h2 class="signin-heading">Chap<strong>Stream</strong> &alpha;</h2>
            <fieldset>
                {{ form.non_field_errors }}
                {% for field in form %}
                    {{ field.errors }}
                    {% if field.name == 'remember_me' %}
                    <p class="checkbox remember-me">
                        <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
                    </p>
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <button id="signin-button" type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
            </fieldset>
        </form>
    </div>
</body>
{% endblock %}